

.user-container{
    display: grid;
    place-items: center;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
}
.card{
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 0.2rem;
    border: 5px solid black;
    border-radius: 1rem;
    width: 15rem;
    font-weight: 800;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    gap: 1rem;

}
.input-text{
     gap: 5px;
     border: none;
     padding: 15px;
     background-color:rgb(218, 158, 158);
     width: 51%;
}

.btn{
    cursor: pointer;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    gap: 3rem;
}


#edit-btn{
    background-color:rgb(19, 92, 34);
}

#delete-btn{
    background-color: red;
}


#add-btn{
    background-color: greenyellow;
}


#update-btn{
    background-color:chartreuse
}
